* {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: #000;
}

html , body , #root {
  height: 100vh;
  background-color: whitesmoke;
}


h1 {
  color: rgb(12, 119, 12);
  text-align: center;
  font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-size: 60px;
}

h2 {
  color: grey;
  text-align: center;
  font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-style: italic;
}

h3 {
  color: rgb(77, 87, 77);
  text-align: center;
}

h4 {
  color:  rgb(77, 87, 77);
  text-align: center;
}

h5 {
  color:  rgb(77, 87, 77);
  text-align: center;
  font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-style: oblique;
}


p {
  color: rgb(109, 131, 105);
}
#logo img {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  }



#carrito {
  display: flex;
  background-color: rgb(238, 227, 206);
  flex-direction: column;
  border: solid;
  border-color: rgb(91, 114, 69);
  padding: 0.5px;
  width: 130px;
}
#carrito h5 {
  color: rgb(108, 109, 107);
  text-align: center;
}

#CardDetail {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  align-items: center;
  text-align: center;
  color: rgb(58, 55, 55);
  border: solid;
  border-color: rgb(133, 136, 133);
}

#CardDetail p {

  color: black;
}

#CardDetail h3 {

  color: black;
}
#CardDetail button {
  margin: 0 auto;
  color: black;
}

footer {
  padding: 1rem;
  background-color: rgb(168, 145, 145);
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-size: 25px;
}
footer p {
  color:whitesmoke;
}

header{
  background-color:rgb(207, 233, 221);
}

.navbar{
  background-color:rgb(207, 233, 221);
  margin:0 auto;
  height: 100px;
}

.navbar ul {
margin:0 auto;
font-size: 30px;
padding: 10px;  

}

.navbar li {
  margin: 20px;
  height: 70px;
  font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  font-style: oblique;
  
}


.box-contador{
    display: flex;
    flex-direction: column;
    margin: 0 auto;
}

.box-contador p{
  text-align: center;
  margin: 0 auto;
  size: 10px;
  color: rgb(75, 72, 72);
}

.p-contador{
    width: 30px;
    text-align: center;
}

main{
  display: flex;
  align-content: center;
  justify-content: center;
  align-items: center;
  padding: 10px;
}
.box-producto{
  display: grid;
  grid-template-columns: 225px 225px 225px 225px;
  grid-template-rows: 1fr 1fr;
  justify-items: center;
  align-items: center;
  margin: 10px;
  padding: 5px;
  
}
article{
  text-align: center;
  width: 300px;
  display: grid;
  grid-template-columns: 2fr;
  justify-items: center;
  align-items: center;
  border-radius: 10px;
  padding: 50px;
}

article img{
  border:solid;
  border-color: rgb(134, 123, 123);
}

button{
  background-color: #d0dbd3;
  border: solid;
  border-color: #767773;
  size: 5cm;
  width: 150px;

}

.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 40px;  
  display: inline-block;
  line-height: 2;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;
  color: rgb(144, 142, 142);
  margin: 0 auto;
  align-items: center;
}
